* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: calc(100vh - 1rem);
}

main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

label {
  font-weight: bold;
  display: block;
  color: #494949;
}

input {
  font: inherit;
  border: none;
  color: #232323;
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
}

input:focus {
  outline: none;
}

button {
  font: inherit;
  border: none;
  color: #232323;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  height: 2.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #2c2c2c;
  border-color: #2c2c2c;
}

#search-btn {
  margin-left: 1rem;
}

#search-btn:hover,
#search-btn:active {
  background: transparent;
  box-shadow: inset 0 0 3px 0px #a19e9e;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inline-controls {
  display: flex;
  flex-direction: column;
}

.control {
  margin: 1rem;
}

#user-input {
  width: 50rem;
  max-width: 90%;
  margin: 1rem auto;
  overflow: auto;
}

#filter {
  display: flex;
}

#user-input {
  background-color: #343434;
  width: 30rem;
}

#user-input label {
  color: #e0e0e0;
  font-size: 0.9rem;
}

#movie-list {
  display: none;
  list-style: none;
  padding: 0 1rem 0 0;
}

#movie-list.visible {
  overflow: auto;
  height: calc(100vh - 13rem);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 1rem;
  align-content: start;
  align-items: start;
}

#movie-list li {
  color: #9a9396;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
  background: #f1f1f1;
  height: 15rem;
  max-width: 25rem;
  overflow: auto;
}

.flex-column {
  margin-top: 1rem;
  width: calc(100% - 40rem);
  overflow: auto;
}

.flex-column input {
  border: 1px solid #d3d3d3;
}

#user-input {
  height: calc(100vh - 5rem);
}

.movie-title {
  font-size: 1rem;
  color: #979797;
  margin: 0;
  word-wrap: break-word;
}

.movie-subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: inline-block;
  color: #a0a0a0;
  line-height: 1.3rem;
  overflow: auto;
  height: calc(100% - 4rem);
  word-wrap: break-word;
}

.movie-release {
  margin-top: 0.7rem;
  display: inline-block;
  width: 100%;
  color: #8b8b8b;
  word-wrap: break-word;
}

textarea {
  width: 100%;
  border: none;
  margin-top: 0.5rem;
  resize: none;
  height: calc(100vh - 32rem);
  border-radius: 5px;
  padding: 1rem;
  font-family: inherit;
  word-wrap: break-word;
}

textarea:focus-visible {
  outline: none;
}

.end {
  justify-content: flex-end;
  margin: 1rem 1rem 0 0;
}

.end button {
  color: #fff;
  border: 1px solid #fff;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.row {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  width: fit-content;
  display: flex;
  margin: 0.5rem;
}

header {
  padding: 1rem;
}

.list-content {
  margin-top: 1rem;
  width: calc(100% - 40rem);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93vh;
  min-width: fit-content;
}

.placeholder {
  margin-bottom: 1rem;
  max-width: 40rem;
}

#empty {
  display: flex;
  justify-content: flex-end;
}
