* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  display: block;
  color: #494949;
}

input {
  font: inherit;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #494949;
  width: 100%;
  display: block;
  margin: 1rem 0;
}

input:focus {
  outline: none;
}

button {
  font: inherit;
  border: 1px solid #35232a;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #35232a;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #4d323c;
  border-color: #4d323c;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inline-controls {
  display: flex;
  flex-direction: column;
}

.control {
  margin: 1rem;
}

#user-input,
#movie-list,
#filter {
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
}

#movie-list {
  display: none;
  list-style: none;
  padding: 1rem;
}

#movie-list.visible {
  display: block;
  height: 100%;
  overflow: auto;
  max-height: calc(100% - 4rem);
  background-color: #000000;
}

#movie-list li {
  margin: 1rem;
  color: #9a9396;
  padding-left: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  width: calc(100% - 2rem);
  padding: 1rem;
  border-radius: 15px;
  background: #242424;
}

.flex-column {
  height: 100vh;
  overflow: hidden;
}

#user-input {
  height: fit-content;
}

.movie-title {
  font-size: 1.3rem;
  color: #eff8ff;
  margin: 0;
}

.movie-subtitle {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: inline-block;
  color: #a0a0a0;
  line-height: 1.3rem;
}

.movie-release {
  margin-top: 0.7rem;
  display: inline-block;
  width: 100%;
  color: #8b8b8b;
}

textarea {
  width: 100%;
  height: 32vh;
  border: 2px solid #ccc;
  min-height: 7rem;
  margin-top: 1rem;
  resize: none;
}

textarea:focus-visible {
  outline: none;
}
